* {
    margin: 0;
    padding: 0;

}

body {
    margin: 53px 100px;
    max-width: 80%;
}

/*navbar styles starts here*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.span-bee,
.span-home {
    color: #FF5400;
}

.logo-section {
    display: flex;
    gap: 10px;
}

nav {
    display: flex;
    gap: 40px;
    text-decoration: none;

}


nav a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

/*navbar styles end here*/

/*banner style starts her*/
.banner {
    background: linear-gradient(to bottom, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00)),
        url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1100px;
    height: 500px;
    border-radius: 16px;
    margin-top: 60px;
    align-items: center;
}

.banner-tittle {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;

}

#banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}

.input-box {
    width: 750px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    margin: 48px 185px;
    background: rgba(255, 255, 255, 0.30);

}

.input-box input {
    width: 174px;
    height: 45px;
    border-radius: 8px;
    padding-left: 4px;
    border: none;
}

.btn-primary {
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    width: 174px;
    height: 45px;
    border-radius: 8px;
    border: none;
}

/*popular-tour*/

.popular-tour {
    display: flex;
    gap: 20px;
    margin-top: 100px;

}

.popular-text {
    width: 540px;
    height: 550px;
}

.popular-text h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.popular-text p,
.tour-list li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
}

/*choose your destination*/
.choose-part-tittle {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

.choose-part-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}

.img-row-1,
.img-row-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 5px;
    margin-top: 35px;
}

.img-row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr 1fr);
    gap: 9px;
    margin: 5px;
}

/*why choose us*/
.why-choose-tittle {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 100px;
}

.why-choose-description,
.card-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 48px;
    padding-left: 0;
}

.card-1,
.card-2,
.card-3 {
    background: rgba(251, 181, 99, 0.05);
    width: 350px;
    height: 200px;
}

.card-tittle {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.card-row-2 {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

/*newsletter*/
.newsletter {
    display: flex;
    gap: 60px;
    margin-top: 100px;
}

.newsletter-img {
    width: 672px;
    height: 422px;
    border: #131318;
}

.newsletter-box {
    border-radius: 16px;
    border: 1px solid #FF5400;
    align-items: center;
}

.newsletter-box h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-top: 48px;
    margin-left: 20px;
}

.news-des {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 38px;
    margin-top: 20px;

}

.newsletter-box input {
    width: 250px;
    height: 52px;
    margin-left: 20px;
    margin-bottom: 26px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.newsletter-box button {
    margin-left: 20px;
    width: 250px;
    height: 52px;
}

#btn-1 {
    width: 324px;
    height: 120px;
    padding: 32px 20px;
    transform: rotate(-19.628deg);
    position: relative;
    bottom: 20px;
}

/*footer*/
footer {
    background: rgba(19, 19, 24, 0.05);
    width: 1200px;
    height: auto;
    margin-left: 0;
    padding-left: 0;
    margin-top: 100px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 100px;
    padding-top: 100px;
}

.footer-des {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 16px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 50px;
}

footer hr {
    background: rgba(19, 19, 24, 0.05);
}

.footer-copy {
    text-align: center;
    margin-top: 50px;
    color: #131318;
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
}

.footer-text {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}

.footer-logo-text {
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}

@media screen and (max-width:576px) {

    nav a {
        display: none;
       
    }

    body {
        margin: 20px 10px;
    }

    .banner {
        width: 400px;
        height: 483px;
        background-size: auto;
    }

    .banner-tittle {
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        padding-top: 32px;
        padding-bottom: 20px;
    }

    #banner-description {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 400;
        margin: -20px auto;
        padding-bottom: 20px;
    }

    .input-box {
        width: 250px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        padding: 16px;
    }


    .popular-tour {
        display: flex;
        flex-direction: column;
    }

    .tour-img img {
        width: 100%;
        height: auto;

    }

    .popular-text {
        width: 98%;
        height: auto;
    }

    /*why choose us*/
    .img-row-1,
    .img-row-2,
    .img-row-3 {
        display: flex;
        flex-direction: column;
    }

    .card-row-1,
    .card-row-2 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    /*newsletter*/
    .newsletter {
        display: flex;
        flex-direction: column;
    }

    .newsletter-box h2 {
        margin-top: 20px;
    }

    .newsletter-box button {
        margin-bottom: 24px;
    }

    .newsletter img {
        width: 335px;
        height: 300px;
    }

    footer {
        width: 120%;
        height: auto;
        margin: 0;
        padding: 0;
    }


}